[submodule "external_baselines/AdaAggRL"]
	path = external_baselines/AdaAggRL
	url = https://github.com/TAP-LLM/AdaAggRL.git
[submodule "external_baselines/FedAA"]
	path = external_baselines/FedAA
	url = https://github.com/Gp1g/FedAA.git
